/* jQuery Resize And Crop (jrac) */

.jrac_container {}

.jrac_viewport {
  position: relative;
  overflow: hidden;
  border:2px solid #ccc;
  width:640px;
  height:480px;
  background-image: url('images/viewport_background.gif');
}

.jrac_rotate_slider{
/*  width: 14px;*/
}

.jrac_loading {
  background-image: url('images/loading.gif');
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
}

.jrac_crop {
  position: absolute;
  border: 2px solid yellow;
}

.jrac_crop_drag_handler {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: #fff;
  opacity: .1; /* FX/Opera/Safari/Chrome */
  -ms-filter: "alpha(opacity=10)"; /* IE8 */
  filter: alpha(opacity = 10); /* IE6/IE7 */
}

.jrac_viewport img, .jrac_crop_drag_handler {
  cursor: pointer;
}

/* Custom styles for jquery ui slider markers */
.jrac_zoom_slider .ui-state-default { border: 1px solid #D3D3D3; background: #E6E6E6; }
.jrac_zoom_slider .ui-state-default { background-image: url('/admin2/js/1.9.1/ui-icons_222222_256x240.png');background-position: -125px -110px;}

.jrac_rotate_slider .ui-state-default { border: 1px solid #D3D3D3; background: #E6E6E6; }
.jrac_rotate_slider .ui-state-default { background-image: url('/admin2/js/1.9.1/ui-icons_222222_256x240.png');background-position: -141px -64px;}
